<% provide(:title,"Home") %>
<%= render 'static_pages/static_header' %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/app/assets/javascripts/home.js"></script>
<link type="text/css" rel="stylesheet" href="home.css"/>

<div class="container">
  <div class="row-same-height">
    <div class="col-md-8 col-sm-height"><!--bigger than 'col-md-4' below. -->
      <div class="slider">

        <div class="slide active-slide">
          <div class="thumbnail">
            <img src="http://i62.tinypic.com/2j9opx.jpg" border="0" alt="Image and video hosting by TinyPic">
          </div>
        </div>

        <div class="slide">
          <div class="thumbnail">
            <img src="http://i61.tinypic.com/11i02o2.jpg" border="0" alt="Image and video hosting by TinyPic">
          </div>
        </div>

        <div class="slide">
          <div class="thumbnail">
            <img src="http://i59.tinypic.com/nvqmo1.jpg" border="0" alt="Image and video hosting by TinyPic">
          </div>
        </div>

        <div class="slide">
          <div class="thumbnail">
            <img src="http://i58.tinypic.com/2nul9f.jpg" border="0" alt="Image and video hosting by TinyPic">
          </div>
        </div>

        <div class="slide">
          <div class="thumbnail">
            <img src="http://i62.tinypic.com/2l9gmqr.jpg" border="0" alt="Image and video hosting by TinyPic">
          </div>
        </div>

      </div><!--slider-->
      <div class="slider-nav">
        <a href="#" class="arrow-prev"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-prev.png"></a>
        <ul class="slider-dots">
          <li class="dot active-dot">&bull;</li>
          <li class="dot">&bull;</li>
          <li class="dot">&bull;</li>
          <li class="dot">&bull;</li>
          <li class="dot">&bull;</li>
        </ul>
        <a href="#" class="arrow-next"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-next.png"></a>
      </div><!--slider-nav-->
    </div><!--col-md-6-->
    <div class="col-md-4 col-sm-height">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %> <!-- it's not something like "form_for(@user)" because the @user instance variable as an argument to "form_for" method is made (more below) -->
        <!-- viable through ActiveRecord, and our Sessions controller doesn't use AR as it doesn't save anything to the database.-->
        <div>
          <%= f.label :username_log %>
          <%= f.text_field :username_log, class: 'form_control' %>
        </div>
        <div>
          <%= f.label :password %>
          <%= link_to "(Esqueceu a senha?)", new_password_reset_path %>
          <%= f.password_field :password, class: 'form_control' %>
        </div>
        <div>
          <%= f.label :remember_me, class: 'checkbox inline' do %>
          <%= f.check_box :remember_me %>
          <span> Lembrar neste computador. </span>
          <% end %>
        </div>
        <div>
          <%= f.submit "Entrar" %>
        </div>
        <% end %>
    </div><!--col-md-4-->
  </div><!--row-->
</div><!--container-->
