<% provide(:title,"Registro de Aluno") %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div><!-- below each tag it the HTML generated. -->
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %> <!-- renders error messages if they need to be displayed. 'class:form-control' makes sure they are displayed on specific problematic input fields. -->
    <%= f.label :name, "Nome Completo do(a) Aluno(a):" %>
    <%= f.text_field :name, class: 'form-control' %>
    <!-- <label for="user_name">Name</label>
    <input id="user_name" name="user[name]" type="text" /> -->
    <%= f.label :rg, "RG do(a) Aluno(a):" %>
    <%= f.text_field :rg, class: 'form-control' %>

    <div>
      Sexo:
      <%= f.radio_button :gender, false, class: 'radio inline' %>
      <%= f.label :gender, "Masculino" %>
      <%= radio_button :gender, true, class: 'radio inline' %>
      <%= f.label :gender, "Feminino" %>
    </div>

    <%= f.label :parent, "Nome Completo do Responsável:" %>
    <%= f.text_field :parent, class: 'form-control' %>

    <%= f.label :rg_parent, "RG do Responsável:" %>
    <%= f.text_field :rg_parent, class: 'form-control' %>
    </br>
    <%= f.label :phone, "Telefone do(a) Responsável:" %>
    <%= f.text_field :phone, class: 'form-control' %>

    </br>
    <%= f.label :email, "E-mail do(a) responsável:" %>
    <%= f.email_field :email, class: 'form-control' %>
    <div>
      Parentesco do(a) responsável com o(a) Aluno(a):
      <%= f.label :parent, "Mãe" %>
      <%= radio_button_tag :parent, "Mãe", class: 'radio inline' %>
      <%= f.label :parent, "Pai" %>
      <%= radio_button_tag :parent, "Pai", class: 'radio inline' %>
        <div class="radio inline">
          <label class="radio-inline control-label">
            Outro:
          </label>
        </div>
      </div>
      <div class="form-group">
        <input placeholder="Especificar..." type="text" class="form-control" id="amount_actual" name="amount_actual" maxlength="15" data-rule-required="true" contenteditable="false">
      </div>
    </div>
    <!-- <label for="user_email">Email</label>
    <input id="user_email" name="user[email]" type="email" /> -->
    <!--<%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <!-- <label for="user_password">Password</label>
    <input id="user_password" name="user[password]" type="password" /> -->
    <!--<%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    <!-- [same as above, but matching] -->
    <%= f.submit "Registrar" %>
    <!-- <form action="/users" class="new_user" id="new_user" method="post">: these create an HTTP POST request in the URL with the params in the form.
    <input name="utf8" type="hidden" value="&#x2713;" />:these two last lines are used internally by Rails to prevent CSRF by using an authenticity token.
    <input name="authenticity_token" type="hidden"
    value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo=" />   -->
  <% end %>
</div>
